.form {
    text-align: right;
  }
  
  .form button {
  
    font: inherit;
    cursor: pointer;
    background-color: #09617c;
    border: 1px solid #09617c;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: black;
    border-color: black;
  }